.genres{
    display: flex;
    flex-wrap: wrap;
}

.genre{
    margin: 5px;
    padding: 10px 20px;
    width: fit-content;
    background: #EEEEEE;
    border-radius: 50px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #2C2C2C;
}