

@media screen and (min-width : 480px) and (max-width : 760px) {
    .wrap .item{
        margin-right: 0;
        flex: 0 0 33.3333% !important;
    }
    
}


@media screen and (max-width : 480px) {
    .wrap .item{
        margin-right: 0;
        flex: 0 0 50% !important;
    }
    
}


.list{
    display: flex;
    width: 100%;
    overflow-x: scroll;

}



.list::-webkit-scrollbar-track
{

    border-radius: 10px;
    background-color: rgba(0,0,0,0);
}

.list::-webkit-scrollbar
{
    height: 8px;
    background-color: rgba(0,0,0,0);
}

.list::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #555;
}


.item{
    height: fit-content;
    margin-right: 20px;
}

.wrap{
 
    flex-wrap: wrap;
    justify-content: flex-start;

    
}

.wrap .item{
    margin-right: 0;
    flex: 0 0 20%;
}


.wrap .item a{
    display: flex;
    justify-content: space-around;
}

