.main{
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main article{
    background: #FFFFFF;
    border-radius: 5px;
    margin: 10px;
}

.movieDescription{
    width: calc(70% - 40px);
    min-height: 100px;
    min-width: 100px;

}

.peopleInMovie{
    width: 30%;
    min-height: 100px;
    min-width: 100px;
}

.recommendation{
    width: 100%;
    min-height: 100px;
    min-width: 100px;
}