.mainContainer { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container { 
    background-color: white; 
    border-radius: 20px;
    text-align: left;
    padding: 20px;
}
.container > p { 
    margin-bottom: 40px;
}
